In [13]:
import pandas as pd
import os
from glob import glob

In [65]:
parent_dirformat = '/media/dmlab/My Passport/DATA/cross-domain/test_{}'

In [66]:
target_mode = 'raw'
parent_dir = parent_dirformat.format(target_mode)
filepaths = glob(os.path.join(parent_dir, 'target=*_source=*_raw/classification_report.csv'))
unk_fileformat = os.path.join(parent_dir, 'target={}_source={}_unk/classification_report.csv')

records = []
for filepath in filepaths:
    target, source, mode = os.path.basename(os.path.dirname(filepath)).split('_')
    target, source = target.replace('target=',''), source.replace('source=', '')

    df = pd.read_csv(filepath)
    raw_acc = '{:.2f}'.format(100*df[(df['Unnamed: 0']=='accuracy')]['f1-score'].values[0])

    df = pd.read_csv(unk_fileformat.format(target, source))
    unk_acc = '{:.2f}'.format(100*df[(df['Unnamed: 0']=='accuracy')]['f1-score'].values[0])

    records.append(('{}->{}'.format(source, target), float(raw_acc), float(unk_acc)))

result_df = pd.DataFrame(records, columns = ['source->target', 'raw', 'unk'])
print(result_df.mean())
result_df

raw    82.140000
unk    81.118333
dtype: float64

          source->target    raw    unk
0             dvd->books  86.58  87.08
1     electronics->books  83.65  80.27
2         kitchen->books  83.10  81.74
3             books->dvd  83.88  83.38
4       electronics->dvd  81.95  78.85
5           kitchen->dvd  82.41  82.21
6     books->electronics  77.92  76.59
7       dvd->electronics  74.50  76.49
8   kitchen->electronics  83.53  81.90
9         books->kitchen  81.34  81.79
10          dvd->kitchen  80.27  80.12
11  electronics->kitchen  86.55  83.00

In [67]:
target_mode = 'unk'
parent_dir = parent_dirformat.format(target_mode)
filepaths = glob(os.path.join(parent_dir, 'target=*_source=*_raw/classification_report.csv'))
unk_fileformat = os.path.join(parent_dir, 'target={}_source={}_unk/classification_report.csv')

records = []
for filepath in filepaths:
    target, source, mode = os.path.basename(os.path.dirname(filepath)).split('_')
    target, source = target.replace('target=',''), source.replace('source=', '')

    df = pd.read_csv(filepath)
    raw_acc = '{:.2f}'.format(100*df[(df['Unnamed: 0']=='accuracy')]['f1-score'].values[0])

    df = pd.read_csv(unk_fileformat.format(target, source))
    unk_acc = '{:.2f}'.format(100*df[(df['Unnamed: 0']=='accuracy')]['f1-score'].values[0])

    records.append(('{}->{}'.format(source, target), float(raw_acc), float(unk_acc)))

result_df = pd.DataFrame(records, columns = ['source->target', 'raw', 'unk'])
print(result_df.mean())
result_df

raw    81.660833
unk    80.831667
dtype: float64

          source->target    raw    unk
0             dvd->books  85.47  85.92
1     electronics->books  83.70  80.37
2         kitchen->books  82.64  81.43
3             books->dvd  83.27  83.43
4       electronics->dvd  82.61  79.66
5           kitchen->dvd  81.65  82.21
6     books->electronics  76.95  76.03
7       dvd->electronics  74.09  76.34
8   kitchen->electronics  83.07  81.44
9         books->kitchen  80.53  80.63
10          dvd->kitchen  79.51  79.62
11  electronics->kitchen  86.44  82.90